// "Base rules are the defaults. They are almost exclusively single element
//  selectors but it could include attribute selectors, pseudo-class selectors,
//  child selectors or sibling selectors. Essentially, a base style says that
//  wherever this element is on the page, it should look like this."

// "A Base rule is applied to an element using an element selector, a descendent
//  selector, or a child selector, along with any pseudo-classes. It doesn't
//  include any class or ID selectors. It is defining the default styling for
//  how that element should look in all occurrences on the page."

//                                        --- Jonathan Snook, "SMACSS" (2011)

@use "sass:map";

$measure: 60ch;

// ======================
// Modular Scale Settings
// ======================

// Modular scale provides harmonious typographic font sizes by applying a
// constant ratio to each font increase and decrease. Best results are usually
// obtained by using one of these three scales, from the 17 available scales:

//    1.125 => (8:9) "major second"
//    1.2   => (4:5) "minor third"
//    1.25  => (5:6) "major third"

// The other scales introduce growth factors which are either too abrupt or too
// subtle. I'm picking the "major second" scale here (ratio 1.125) since it
// provides reasonable defaults to work with. We're exposing the scale values to
// the user via global CSS variables on ":root", so that they can be reused by
// additional custom CSS, and they core values (base font size and scale ratio)
// might also be easily tweaked directly in the generated stylesheet.

// Value "--ms0" is used for the main body text font size (<p> etc.), whereas
// "--ms5" to "--ms1" are used for headings <h1> to <h5>, and <h6> uses the same
// size as <h5> but with added italic. Using a dedicated scale value for <h6>
// ("--ms1") would have lead to <h1> having value "--ms6", which would be far
// too big, compared to the body text; furthermore, <h6> is rarely used
// (shouldn't even be used in good publications), and having it in italic is
// enough to distinguish it from <h5>.

// Anything smaller than the body text should use the "negative" MS vars (e.g.
// <small> = "--ms-1"), although it's unlikely that any typographic element
// might need to be smaller than "--ms-1". Still, these "negative" MS variables
// could come on hand for alignment or spacing purposes, so I'm leaving them
// here even if they are unused by the stylesheet.

// For more info on modular scale in web typography, read:

// https://every-layout.dev/rudiments/modular-scale/

$ms: (
  // https://www.modularscale.com/?1.25&rem&1.125
  base: 1.25rem,
  ratio: 1.125  // => "major second" (8:9)
);

:root {
  --measure: #{$measure}; /* max chars per line */
  /* modular scale */
  --ratio: #{map.get($ms, "ratio")}; /* major second (8:9) */
  --ms6: calc(var(--ms5) * var(--ratio));
  --ms5: calc(var(--ms4) * var(--ratio));
  --ms4: calc(var(--ms3) * var(--ratio));
  --ms3: calc(var(--ms2) * var(--ratio));
  --ms2: calc(var(--ms1) * var(--ratio));
  --ms1: calc(var(--ms0) * var(--ratio));
  --ms0: #{map.get($ms, "base")}; /* base font size */
  --ms-1: calc(var(--ms0)  / var(--ratio));
  --ms-2: calc(var(--ms-1) / var(--ratio));
  --ms-3: calc(var(--ms-2) / var(--ratio));
  --ms-4: calc(var(--ms-3) / var(--ratio));
  --ms-5: calc(var(--ms-4) / var(--ratio));
  --ms-6: calc(var(--ms-5) / var(--ratio));
}

/* basics */

@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  // font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-family: "Gelasio", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--ms0);
  line-height: 1.4;
  font-variant-numeric: oldstyle-nums; // "lowercase" numerals
  /* can be used to globally increase/decrease text size
  font-size: 1.2em;
  */
}

small {
  font-size: var(--ms-1);
}

/* titles */

h1, h2, h3, h4, h5, h6 {
  // font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-variant-numeric: lining-nums; // force "uppercase" numerals!
  font-weight: bold;
  color: darkgreen;

  margin-top: 1em;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  font-size: var(--ms5);
}
h2 {
  font-size: var(--ms4);
}
h3 {
  font-size: var(--ms3);
}
h4 {
  font-size: var(--ms2);
}
h5, h6 {
  font-size: var(--ms1);
}
h6 {
  font-style: italic;
}


.pml-doc-title {
// font-size: 2.2em; // use ms instead!
  margin-top: 0.2em;
}

.pml-chapter-title {
}

.pml-chapter-subtitle {
  margin-top: 0;
}

.pml-header {
  margin-top: 1.5em;
  font-weight: bold;
}

.pml-caption {
  font-style: italic;
}


/* text */

.pml-paragraph {
}

.smallcaps {
  font-variant-numeric: lining-nums; // force "uppercase" numerals!
  font-variant-caps: small-caps;
}

/* table */

.pml-table {
  margin-top: 1em;
  border: 1px solid black;
  border-collapse: collapse;
}

.pml-table .pml-paragraph {
  margin: 0;
}

.pml-table-header-cell, .pml-table-footer-cell, .pml-table-body-cell {
  padding: 0.3em;
  border: 1px solid black;
}

.pml-table-header-cell, .pml-table-footer-cell {
  font-weight: bold;
}

.pml-table-header-cell {
  text-align: center;
}


/* admonition */

.pml-admonition {
  display: flex;
  align-items: center;
}

.pml-admonition-label {
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
}

.pml-admonition-content {
  border-left: 1px solid grey;
  padding-left: 1em;
}


/* quote */

.pml-quote {
  margin-left: 3.0em;
  margin-right: 3.0em;
  font-style: italic;
}

.pml-quote-text-block {
  display: flex;
  align-items: flex-start;
}

.pml-quote-text-prefix, .pml-quote-text-suffix {
  // font-family: "Times New Roman";
  font-size: var(--ms1); // was: 1.5em
  font-weight: bold;
  font-style: italic;
  margin-top: -0.4em;
}

.pml-quote-text-prefix {
  padding-right: 0.2em;
}

.pml-quote-text-suffix {
  padding-left: 0.2em;
}

.pml-quote-text-prefix::before {
  content: '“';
}

.pml-quote-text-suffix::after {
  /* content: '”'; */
}

.pml-quote-text {
  font-size: var(--ms1); // was: 1.2em
}

.pml-quote-text .pml-paragraph {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.pml-quote-source {
  text-align: right;
}

.pml-quote-source::before {
  /* content: "\2014"; */
}


/* media */

.pml-image {
}

.pml-audio {
}

.pml-video {
}

.pml-youtube-video {
}

// Realistic highlighter effect by Max:
// https://max.hn/thoughts/how-to-create-a-highlighter-marker-effect-in-css
//    was: rgba(255, 225, 0,
//    try: rgba(232, 255, 9,  .. for yellow fluo: #e8ff09
//    try: rgba(232, 255, 9,  .. for green  fluo: #ddff30
mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent; // cover user-agent yellow!
  background-image: linear-gradient(
    to right,
    rgba(221, 255, 48, 0.3),
    rgba(221, 255, 48, 0.9) 4%,
    rgba(221, 255, 48, 0.5)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: var(--ms-2); // WAS: 11px in GH Css
  font-variant-numeric: lining-nums; // force "uppercase" numerals!
  line-height: var(--ms-1); // WAS: 10px in GH Css
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 0.25rem; // WAS: 3px
  box-shadow: inset 0 -1px 0 #959da5;
}

/* monospace, code, input, output */


code,
.pml-monospace,
.pml-code,
.pml-inline-code,
.pml-input,
.pml-output {
  font-variant-numeric: lining-nums; // force "uppercase" numerals!
}

.pml-monospace, .pml-code, .pml-inline-code, .pml-input, .pml-output {
  font-family: Consolas, "DejaVu Sans Mono", monospace;
  white-space: pre-wrap;
}

.pml-code code {
  font-family: Consolas, "DejaVu Sans Mono", monospace;
}

.pml-code, .pml-inline-code, .pml-input, .pml-output {
  background: #f5f5f5;
  word-wrap: break-word;
}

.pml-code, .pml-input, .pml-output {
  font-size: var(--ms-1); // was: 0.9em
  line-height: 1.4;
  border-radius: 7px;
  margin-top: 0.5em;
  padding: 1em;
}

.pml-inline-code {
  /* font-size: 0.95em; */
  border-radius: 4px;
  padding: 0.1em .4em 0.1em .4em;
  /* border: 1px dotted lightgrey; */
}

.pml-input, .pml-output {
  border: dotted 1px grey;
}


/* Footnotes */

.pml-footnotes {
  margin-left: 2em;
}

.pml-footnote-ref a {
  text-decoration: none;
}

.pml-footnote-backlink a {
  text-decoration: none;
}

.pml-footnote-ref a::before {
  content: "[";
}

.pml-footnote-ref a::after {
  content: "]";
}

.pml-footnote td p:first-child {
  margin-top: 0;
}

.pml-footnote td p:last-child {
  margin-bottom: 0;
}
